

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.signin-content{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images{
  border: 2px solid white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-top: 9rem;
  background-color: black;
  margin-right: 2rem;
}
.login-content{
  border: 2px solid wheat;
  height: 38rem;
  width: 80%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 15px #A77EF8;
}
.text{
  font-size: 48px;
  color: white;
  font-weight: 1000;
  margin: 10% 0 4% 10%;
}
.form{
  width: 100%;
}
input{
  background: transparent;
  margin: 2rem 0 5% 5rem;
  border: none;
  height:  40px;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  width: 60%;
  font-size: 20px;
}
input::placeholder{
  font-size: 12px;
  color: white;
}
.btn{
  margin: 2rem 0 0 5rem;
  height: 45px;
  width: 60%;
  border: none;
  color: white;
  cursor: pointer;background-color: #A77EF8;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
}
.wel{
  margin: 4rem 0 0 5rem;
  color:white;
  font-size: 48px;
  color: white;
  font-weight: 1000;
}

input[type="file"]{
color: #A77EF8;
}
.bt p{
  color: white;
  margin: 10px 0 0 30%;
}
.bt span{
  color: #A77EF8;
  text-decoration: underline;
}
.imags{
display: none;
}


